@page "/"
@using MatBlazor



<MatTable Items="@posts" 
          class="table table-hover"
          LoadInitialData="true"
          RequestApiOnlyOnce="true"
          Striped="true"
          ApiUrl="https://jsonplaceholder.typicode.com/posts"
          FilterByColumnName="title"
          DebounceMilliseconds="150">
    <MatTableHeader>
        <th>User id</th> <th>id</th> <th>title</th> <th>body</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.userId</td>  <td>@context.id</td>  <td>@context.title</td>  <td>@context.body</td>
    </MatTableRow>
    

</MatTable>

@functions{

    public class Posts
    {
    public int userId { get; set; }
    public int id { get; set; }
    public string title { get; set; }
    public string body { get; set; }
}
    Posts[] posts;
}